/* Načtení fontu OCPickllle */
@font-face {font-family: 'OCPickllle';src: url('https://davidsch.cz/projekty/juch/OCPickllleVARVF.woff2?v=3') format('woff2');font-style: normal;font-weight: 100 900;font-display: swap;}

/* PURPLE */
:root {
--template-headings-font: "OCPickllle", sans-serif;
--sec1: #5D5399;
--sec2: #5d5399a8;
--sec3: #5d539969;
--sec4: #5d53990f;
--trd1:#C75D35;
--col1:#a95695;
--col2:#58A8B0;
--col3:#C85E36;
--col4:#FBF0D0;
--col5:#fbf0d06b;
--colbg:#faf0d099;
--color-primary:var(--col3);
}
h1,h2,h3,h4,h5,h6,.p .name,.homepage-group-title {color:var(--col2)!important;}
.breadcrumbs,.breadcrumbs a,.breadcrumbs>span>a:after {color:var(--col3);}
.type-detail .position--benefitProduct {background:transparent;border-radius:15px;margin-bottom:30px!important;padding-top:30px;}
body {background:#fff;}

/* HOMEPAGE */
.welcome {background:#fff;}
@media (min-width: 992px) {
.is-carousel-classic-layout:not(.is-carousel-full-width).one-column-body .homepage-box .carousel .carousel-control.left:before {left:-25px;}
.is-carousel-classic-layout:not(.is-carousel-full-width).one-column-body .homepage-box .carousel .carousel-control.right:before {right:-25px;}}
.welcome {border:2px solid var(--sec4);}
.siteCookies--center .siteCookies__button {border-radius:12px;background:#E3B43E;}
.siteCookies__form {padding:30px;}
.siteCookies__link {border-radius:12px;}

/* HP bannery */
.content-wrapper.homepage-box.middle-banners-wrapper { position: relative; background-image: url("https://www.juch.store/user/documents/upload/bgs/bg1.png"); background-size: cover; background-position: center; background-repeat: no-repeat; padding: 40px 0; }
@media (max-width: 767px) { .row.banners-content.body-banners { position: relative; background-image: url("https://www.juch.store/user/documents/upload/bgs/bg1.png"); background-size: cover; background-position: center; background-repeat: no-repeat; padding: 40px 20px; margin-left: -20px !important; margin-right: -20px !important; width: calc(100% + 40px); } }
.content-wrapper.homepage-box.welcome-wrapper { position: relative; background-image: url("https://www.juch.store/user/documents/upload/bgs/bg2.png"); background-size: cover; background-position: center; background-repeat: no-repeat; padding: 40px 0; }
.content-wrapper.homepage-box.welcome-wrapper .welcome-wrapper { background: none !important; }
@media (max-width: 767px) { .content-wrapper.homepage-box.welcome-wrapper > .content-wrapper-in > .container { padding-left: 0 !important; padding-right: 0 !important; } }
@media (max-width: 767px) { .content-wrapper.homepage-box.welcome-wrapper > .content-wrapper-in > .container > .welcome-wrapper { box-sizing: border-box; padding-left: 20px; padding-right: 20px; } }

/* HEAD */
#header {background:#faf0d0!important;}
#header .site-name a img {max-height:50px;}
.search input[type="search"].form-control {border:0px solid var(--sec2);background:#fff;}
.search input[type="search"].form-control:focus {border:3px solid var(--sec1);}
.search .btn.btn-default, .search a.btn.btn-default {background:var(--col3);color:transparent;transform:scale(0.95);}
.search .btn.btn-default, .search a.btn.btn-default:focus {background:var(--col3);color:transparent;}
.search .btn.btn-default:before,.search .btn.btn-default:hover:before {color:#fff;}
#header .container {isolation: isolate;z-index:1;}
#header .container:after {position: absolute;content: "";background:#faf0d0;width: 100%;height: 60px;bottom: 0;left: -50%;z-index: -1;}
@media (max-width: 767px) {.top-navigation-bar {background-color:var(--col4);}
body:not(.navigation-window-visible) .top-navigation-bar {box-shadow:none;}
.navigation-in>ul>li {border-bottom:1px solid #ebe9e2;}
}
@media (min-width: 992px) {.header-top {padding-top: 20px;padding-bottom:20px;}}
@media (min-width: 768px) {.navigation-in>ul>li>a,.navigation-in>ul>li.ext>a:after,.navigation-in a {color:var(--col3);}
.navigation-in>ul>li>a:hover,.navigation-in>ul>li.ext>a:hover:after,.navigation-in>ul>li.exp>a {color:var(--col1);}
.navigation-in ul {justify-content: center;}
.navigation-in {position: static;width: 100%;}
.benefitBanner__title {font-size:21px;}
}
.navigation-in ul li a {text-transform:none;font-size:20px;}
.navigation-buttons>a,.navigation-buttons>a:after,.navigation-buttons a[data-target="cart"],.navigation-buttons>a[data-target="login"]:before,.navigation-buttons .click-cart a:after {color:var(--col2);}
@media (max-width: 767px) {body {background-size:initial;} .container.breadcrumbs-wrapper {background:none; border-bottom:0px solid var(--sec4);}.benefitBanner__title {font-size:15px;}}
.navigation-in a {color:var(--col3);}
.p-info-headline .h1 {color:var(--col2);}
#footer.is-white {border-top:2px solid var(--sec4);}
.top-navigation-bar a,.responsive-tools>a[data-target="navigation"]:after {color:var(--col3);}
.navigation-in-bottom {background:#fff;}
.navigation-window-visible .top-navigation-bar {box-shadow:none;}

/* SEARCH */
@media (max-width:767px){.navigation-window-visible .responsive-tools{/*margin-right: 30px;*/}.overall-wrapper{padding-top:50px}.in-index .overall-wrapper{padding-top:50px}.responsive-tools .click-cart{padding-left:5px}.responsive-tools > a{width:40px}.responsive-tools>a[data-target="navigation"]{width:50px}.responsive-tools > a[data-target="search"]{display:flex;width:30px}.responsive-tools .click-cart{padding-right:0}.search-window-visible:not(.navigation-window-visible) #header{top:50px}.search-window-visible #header .search-form{margin:0}#header{top:-10px}}

/* MENU POSUN */
@media (min-width: 992px) {.admin-logged.not-exist-menu .popup-widget.cart-widget,.admin-logged.not-exist-menu .popup-widget.login-widget {top: 96px;}
body.not-exist-menu .popup-widget.login-widget,body.not-exist-menu .popup-widget.cart-widget {top: 71px;}}

/* Nadpisy MIX 2 */
#navigation, h1, h2, h3, h4, h5, h6, .p-detail-tabs,.blank-mode .h4,.blank-mode h1,.category-header input[type="radio"]+label,.external-fonts-loaded .btn,.external-fonts-loaded .products .name,.p-info-headline .h1,.detail-tab-item {font-family: var(--template-headings-font)!important;font-variation-settings: "COUT" 180, "JMBL" 180, "STGR" 180;}
.top-nav-button-login {font-family:"OCPickllle";text-transform:none!important;}
.benefitBanner__title {color:var(--col3);font-family:"OCPickllle";text-transform:none;}

/* CATEGORY a nahledy */
.product .p {box-shadow:none;border:2px solid var(--sec4);}
.product .p:hover {border:2px solid var(--col2);transition: all 400ms ease-out!important;}
.products-block .product-btn a, .products-block .product-btn .pr-action {padding:0 30px;max-width:none;}
.btn, a.btn,.btn.btn-conversion {border-radius:12px;}
.flag {border-radius:8px;}
.category-header input[type="radio"]+label {background:transparent;}
.category-header input[type="radio"]:checked+label {background:var(--col3);}
.filters-visible #content .filters-unveil-button-wrapper .btn.unveil-button {background:var(--col3);}
.category-header {border-top: 2px solid var(--sec4);}
.products-block {margin: 0 -5px;}
.products-block.products>div {padding: 5px;}
@media (max-width: 767px) {.columns-mobile-2 .products-block .p-bottom .availability {justify-content: flex-start;}.products-block .product-btn a, .products-block .product-btn .pr-action {padding:0;}.position--benefitCategory{margin-top:0;}}
@media (min-width: 768px) {#content .filters-unveil-button-wrapper .btn.unveil-button {width:fit-content;}.products-block .availability {font-size: 14px;font-weight: 700;}.products-block:not(.products-additional) .p .image img {margin-top: -30px;}}
#content .filters-unveil-button-wrapper .btn.unveil-button {min-height:50px;}
.benefitBanner.position--benefitCategory { position: relative; z-index: 1; padding-top:40px;}
.benefitBanner.position--benefitCategory::before { content: ""; position: absolute; top: 0; left: 50%; width: 100vw; height: 100%; transform: translateX(-50%); background-color: #FBF0D0; z-index: -1; }
.category-header input[type="radio"]+label {color:var(--col2);}
.subcategories li a {border:2px solid var(--sec4);box-shadow:none;}
.subcategories li a:hover {border:2px solid var(--col2);}
body.type-category #footer.no-newsletter { margin-top:0; }
.products-block:not(.products-additional) .p .image img {margin-top:-20px;}

/* CAT - podbarvení */
.type-category { --catStripeBg: #FBF4E2; }
.type-category .category-title { position: relative; z-index: 1; }
.type-category .category-title::before { content: ""; position: absolute; top: 0; left: 50%; width: 100vw; height: 100%; transform: translateX(-50%); background-color: var(--colbg, #f5f5f5); z-index: -1; }
.type-category .category-perex { position: relative; z-index: 1; }
.type-category .category-perex::before { content: ""; position: absolute; top: 0; left: 50%; width: 100vw; height: 100%; transform: translateX(-50%); background-color: var(--colbg, #f5f5f5); z-index: -1; }
.type-category .breadcrumbs-wrapper { position: relative; z-index: 1; }
.type-category .breadcrumbs-wrapper::before { content: ""; position: absolute; top: 0; left: 50%; width: 100vw; height: 100%; transform: translateX(-50%); background-color: var(--colbg, #f5f5f5); z-index: -1; }
.category-perex {margin-top: 0px;padding-top:20px;padding-bottom:10px;}.breadcrumbs {margin-top:0;padding-top:10px;}.category-title {margin-bottom:0;}
@media (max-width: 767px) {.container.breadcrumbs-wrapper {margin-bottom: 0px;padding-bottom:7px;}}
@media (min-width: 768px) {.breadcrumbs.navigation-home-icon-wrapper:before {top: 14px;}}

.duo-layout { display:flex; gap:30px; align-items:center; justify-content:space-between; margin:0 auto; }
.duo-text { flex:3; }
.duo-image { flex:2; display:flex; justify-content:center; }
.duo-image img { height:260px; width:auto; object-fit:contain; margin-top:-120px; }
@media (max-width:767px) { .duo-layout { display:block; } .duo-image { display:none; } }


/* PROD - podbarveni */
@media (min-width: 992px) {.type-product  .breadcrumbs {margin-bottom:0;padding-bottom:10px;}}
/* 
.type-product .breadcrumbs-wrapper { position: relative; z-index: 1; }
.type-product .breadcrumbs-wrapper::before { content: ""; position: absolute; top: 0; left: 50%; width: 100vw; height: 100%; transform: translateX(-50%); background-color: var(--colbg, #f5f5f5); z-index: -1; }
*/

/* produkt */
.product-benefits{display:grid;grid-template-columns:1fr 1fr;gap:10px 10px;margin:20px 0 25px;}
.product-benefits__item{display:flex;align-items:center;gap:12px;padding:7px 12px;line-height:1.3;color:var(--col3);background:var(--col5);border-radius:10px;font-size:15px;font-family:var(--template-headings-font);}
.product-benefits__item img{width:30px;height:30px;object-fit:contain;}
.type-detail .position--benefitProduct {margin-bottom:0;}
.p-thumbnail.highlighted img {border:2px solid #223f99;border-radius:15px;}
.p-info-headline .h1 {text-align:center;margin-bottom:0;}
.shp-tabs-wrapper .tab-pane {border:2px solid var(--sec4);}
.shp-tabs-holder ul.shp-tabs li a {border-width:2px 2px 0 2px;}
.active .shp-tab-link {border-color:var(--sec4);}
.detail-tab-item,.shp-tabs-holder ul.shp-tabs li a,.extended-description h3 {font-size:2.3rem;}
.p-info-headline h1 {color:var(--sec1);}
.shp-tabs-holder ul.shp-tabs li.active::after {bottom:inherit;}
.p-info-wrapper .quantity input {border:2px solid var(--sec3);}
.products-block.products .p .price strong,.p-info-wrapper .p-final-price-wrapper .price-final {color:#C75D35;font-size:22px;}
.p-info-grid .detail-grid-title {color:var(--col2);}
.social-buttons-wrapper {border-top:1px solid #ebe9e2;}

/* ZAOBLENI 5px */
.products-inline.products-top>div .p .image img {border-radius:5px;}

/* ZAOBLENÍ 10px */
.product .p,.body-banners img,.welcome,.contact-address__content,.summary-wrapper,.checkout-box-wrapper,.body-banners a, .body-banners .banner-wrapper {border-radius:10px;}
.shp-tabs-holder ul.shp-tabs li a,ol.cart-header li.active {border-radius: 10px 10px 0 0;}
.cart-inner {border-radius:0 0 10px 10px;}
@media (min-width: 768px) {.shp-tabs-wrapper .tab-pane.active:first-child {border-radius: 0 10px 10px 10px;}}
@media (max-width: 767px) {.detail-tab-item {border-radius:10px;}}

/* ZAOBLENÍ 50px */
.btn, a.btn, .btn.btn-conversion,.search input[type="search"].form-control {border-radius:50px;}
.search .btn.btn-default, .search a.btn.btn-default {border-radius: 0 50px 50px 0;}

/* FOOTER */
#footer h4 {color:var(--col3)!important;}
#footer.is-white .footer-bottom-bg:before {background:var(--col3);}
@media (min-width: 1200px) {.custom-footer .custom-footer-left-panel .footer-item {width: 25%;flex: 0 0 25%;}}
@media (max-width:767px) {.custom-footer__banner16 {display:none;}}
.type-index #footer.is-white { border-top: none !important; }

/* KOSIK */
body.ordering-process {background-color: #fbf4e257;}
