/* DETAIL - btn */
.type-detail .add-to-cart-button {padding: initial;height: auto;}
.type-detail .add-to-cart-button::before {clip-path: none;}
.btn.btn-conversion:hover {color:#fff;}
.type-detail .add-to-cart-button:hover::before {background:#404793;}

/* DETAIL - nadpis */
.type-detail .p-detail-inner-header h1::before,.type-detail .p-detail-inner-header-mobile .h1::before {clip-path: polygon(0% 0,100% 0,95% 100%,0% 100%);}
.type-detail .p-detail-inner-header h1 {}
.type-detail .p-detail-inner-header-mobile .h1 {left:-30px;padding:4rem;}

/* CATEGORY */
.product .btn {padding:0px 26px!important;}
.product .btn::before {clip-path:none;}
.type-category .container.content-wrapper #content h1::before {clip-path:polygon(10% 0,100% 0,92% 85%,15% 85%);}
.products-block>div .p .p-bottom>div .p-tools .btn.btn-primary {line-height:50px;min-width:163px;}
.filters-unveil-button-wrapper a.unveil-button::before {clip-path:polygon(0% 0,100% 0,94% 100%,6% 100%);}

/* CATEGORY - btn sude liche */
.product:nth-child(odd) .btn::before {clip-path:polygon(0% 0,100% 0,94% 100%,0% 100%);}
.product:nth-child(even) .btn::before {clip-path:polygon(6% 0,100% 0,100% 100%,0% 100%);}

/* HOMEPAGE */
@media (max-width: 768px) {
.id-1 .homepage-group-title {left: -45px;}
.id-1 .homepage-group-title::before {clip-path:polygon(0px 0,100% 0,92% 85%,0% 85%);}
}
