/* BODY color 
#header,.header-bottom,header .header-nav .my-nav #navigation {background:#E4E1F0!important;}
#header .header-bottom {background-color:#E4E1F0!important;}
@media (min-width: 992px) {body {background-color:#E4E1F0!important;}
*/

/* DETAIL - btn */
.type-detail .add-to-cart-button {padding: initial;height: auto;}
.btn.btn-conversion:hover {color:#fff;}
.type-detail .add-to-cart-button::before {clip-path: none;background:#ac1c66;}
.type-detail .add-to-cart-button:hover::before {background:#c42d7a;}

/* DETAIL - nadpis */
.type-detail .p-detail-inner-header-mobile .h1::before {clip-path: polygon(0% 0,100% 0,95% 100%,0% 100%);}
.type-detail .p-detail-inner-header h1::before {clip-path:polygon(0% 0,100% 0,100% 100%,3% 100%);}
.type-detail .p-detail-inner-header h1 {text-align:center;margin-right:-45px;}
.type-detail .p-detail-inner-header-mobile .h1 {left:-30px;padding:4rem;}

/* DETAIL */
.brand-wrapper-manufacturer-name a,.ratings-and-brand a {color:#1b237e;}

/* CATEGORY */
.product .btn {padding:0px 26px!important;font-size:19px!important;}
.product .btn::before {clip-path:none;background:#ac1c66;}
.product .btn:hover::before {background:#c42d7a;}
.type-category .container.content-wrapper #content h1::before {clip-path:polygon(10% 0,100% 0,92% 85%,15% 85%);}
.products-block>div .p .p-bottom>div .p-tools .btn.btn-primary {line-height:50px;min-width:163px;}
#content .btn.unveil-button {text-align:center;}
.filters-unveil-button-wrapper a.unveil-button::before {clip-path:polygon(0% 0,100% 0,96% 100%,4% 100%);}
.filters-wrapper .filters-unveil-button-wrapper .unveil-button:before {margin-right:0;}
.products-inline>div .p .p-in .p-in-in .name {color:#000;font-weight:600;}
#productsTopHeading {color:#1b237e;}
:where(body.ums_a11y_category_page--on) .toggle-top-products {color:#1b237e;font-weight:500;}
:where(body.ums_a11y_category_page--on) .toggle-top-products:hover {color:#404793;}
:where(body.ums_a11y_pagination--on) .btn.loadMore__button, :where(body.ums_a11y_pagination--on) .pagination .pagination__list .pagination__link, :where(body.ums_a11y_pagination--on) a.btn.goToTop__button {color:#1b237e;border-color:#1b237e;}
.subcategories.with-image li a .text,.products-inline>div .p .p-in .p-in-in .name {color:#1b237e;}
@media (max-width: 767px) {:where(body.ums_a11y_category_page--on) .sortingToggle {border: 1px solid #666;}}

/* CATEGORY - btn sude liche */
.product:nth-child(odd) .btn::before {clip-path:polygon(0% 0,100% 7%,95% 95%,3% 100%);}
.product:nth-child(even) .btn::before {clip-path:polygon(0% 0,100% 7%,95% 95%,3% 100%);}

/* HOMEPAGE */
@media (max-width: 767px) {
.id-1 .homepage-group-title {left: -45px;}
.id-1 .homepage-group-title::before {clip-path:polygon(0px 0,100% 0,92% 85%,0% 85%);}
.welcome-wrapper.container-narrow .welcome .left-small-character,.welcome-wrapper.container-narrow .welcome .right-small-character {z-index: 10;}
}
@media (min-width: 768px) {
.id-1 .homepage-group-title::before {clip-path:polygon(15% 0,100% 0,94% 85%,15% 85%);}
.id-1 .homepage-products-heading-9::before {clip-path:polygon(8% 0,100% 0,97% 85%,8% 85%);}
}

/* MENU - mobil */
@media (max-width: 767px) {
#navigation .navigation-in ul li>a>b,#navigation .navigation-in ul li:hover>a>b {text-decoration: none;}
.navigation-in>ul>li {border-top:1px solid #e4e4e4;}
}

/* SIPKY */
.product-slider-holder .product-slider-navigation {top:40%;transform:none;}
@media (min-width: 768px) {.id-1 main .product-slider-holder.has-navigation .navigation-prev {border-left: 40px solid transparent;border-right: 40px solid transparent;border-bottom: 90px solid #fcd000;transform: rotate(270deg);}}
