/* BARVY */
:root {
--col1a:#272145;
--col1b:#635c8a;
--col1c:#443a78;
--col1d:#f0eef6;
--col2a:#d92680;
}

/* FONTY - TEXT */
.external-fonts-loaded body, body.blank-mode {font-family: Nunito, sans-serif;}
/* FONTY - NADPISY */
.external-fonts-loaded h1, .external-fonts-loaded h2, .external-fonts-loaded h3, .external-fonts-loaded h4, .external-fonts-loaded h5, .external-fonts-loaded h6, .external-fonts-loaded .h1, .external-fonts-loaded .h2, .external-fonts-loaded .h3, .external-fonts-loaded .h4, .external-fonts-loaded .h5, .external-fonts-loaded .h6, .external-fonts-loaded .cart-table .main-link, .external-fonts-loaded .cart-related-name, .blank-mode h1, .blank-mode h2, .blank-mode h3, .blank-mode h4, .blank-mode h5, .blank-mode h6, .blank-mode .h1, .blank-mode .h2, .blank-mode .h3, .blank-mode .h4, .blank-mode .h5, .blank-mode .h6, .blank-mode .cart-table .main-link, .blank-mode .cart-related-name {font-family: Nunito, sans-serif;}
/* FONTY - TLACITKA a CENY */
.external-fonts-loaded ol.cart-header, .external-fonts-loaded .next-step, .external-fonts-loaded .price-wrapper, .external-fonts-loaded .price-additional, .external-fonts-loaded .price-measure, .external-fonts-loaded .price-final, .external-fonts-loaded .price-save, .external-fonts-loaded .price-standard, .external-fonts-loaded .btn, .external-fonts-loaded .products .name {font-family: Nunito, sans-serif;}

/* HEADER */
@media (min-width: 768px) {#header .site-name a img {max-height:50px;}}
#header {border-bottom:1px solid #e2e0eb;}
.navigation-in ul li a {text-transform:none;}
.navigation-buttons button.top-nav-button, .navigation-buttons>a {text-transform:none;}
@media (min-width: 992px) {.header-top {padding-top: 20px;}}
@media (min-width: 768px) {.header-top {padding-top: 20px;padding-bottom: 0;flex-wrap: nowrap;}}
.navigation-in ul li a b {font-weight: 800;}
@media (min-width: 768px) {.navigation-in>ul>li>a {color: var(--col1a);}}

.navigation-buttons button.top-nav-button[data-target="login"]:before { font-size: 18px !important; margin-right: 6px !important; vertical-align: middle !important; }
.header-top .btn.cart-count:before { font-size: 18px !important; margin-right: 6px !important; vertical-align: middle !important; }
.navigation-buttons button.top-nav-button, .header-top .btn.cart-count, a.btn.cart-count.full { font-size: 16px !important; font-weight: 600 !important; }

/* --- MENU (PC) --- */
@media (min-width: 768px) { .navigation-in > ul > li > a { color: #fff !important; border-radius: 50px !important; padding: 7px 20px !important; margin: 11px 8px 11px 4px!important; line-height: normal !important; height: auto !important; transition: all 0.3s ease !important; } }
@media (min-width: 768px) { .navigation-in > ul > li:first-child > a { padding-left: 20px !important; } }
@media (min-width: 768px) { .navigation-in > ul > li > a:hover { opacity: 0.8 !important; } }

/* --- BARVY POLOŽEK --- */
@media (min-width: 768px) { .menu-level-1 > li:nth-child(1) > a { background-color: #283583 !important; } }
@media (min-width: 768px) { .menu-level-1 > li:nth-child(2) > a { background-color: #f78b1e !important; } }
@media (min-width: 768px) { .menu-level-1 > li:nth-child(3) > a { background-color: #aa2570 !important; } }
@media (min-width: 768px) { .menu-level-1 > li:nth-child(4) > a { background-color: #edc10d !important; } }
@media (min-width: 768px) { .menu-level-1 > li:nth-child(5) > a { background-color: #283583 !important; } }
@media (min-width: 768px) { .menu-level-1 > li:nth-child(6) > a { background-color: #f78b1e !important; } }
@media (min-width: 768px) { .menu-level-1 > li:nth-child(7) > a { background-color: #aa2570 !important; } }
@media (min-width: 768px) { .navigation-in > ul > li.ext > a { padding-right: 34px !important; } }
@media (min-width: 768px) { .navigation-in > ul > li.ext > a:after { color: #fff !important; right: 14px !important; } }
@media (min-width: 768px) { .navigation-in > ul > li > a:hover { transform: translateY(-2px) !important; opacity: 0.9 !important; } }

/* LOGIN KOSIK */
.navigation-buttons button.top-nav-button[data-target="login"]:before, .header-top .btn.cart-count:before { font-size: 18px !important; vertical-align: middle !important; color: var(--col1a) !important; }
.navigation-buttons button.top-nav-button, .header-top .btn.cart-count, a.btn.cart-count.full { font-size: 16px !important; font-weight: 600 !important; color: var(--col1a) !important; }
.navigation-buttons button.top-nav-button:hover:before, .header-top .btn.cart-count:hover:before { color: var(--col2a) !important; }
.navigation-buttons button.top-nav-button:hover, .header-top .btn.cart-count:hover { color: var(--col2a) !important; }
a.btn.cart-count i {background:var(--col2a);}

/* SEARCH */
.search input[type="search"].form-control { background-color: var(--col1d) !important; border: 1px solid var(--col1d) !important; border-radius: 25px !important; color: #000 !important; }
.search input[type="search"].form-control:focus { border-color: var(--col1c) !important; outline: none !important; }
.search .btn.btn-default { background-color: var(--col1d) !important; border-radius: 0 25px 25px 0 !important; }
.search .btn.btn-default, .search a.btn.btn-default {color:var(--col1d);}

/* BENEFITY */
@media (min-width: 480px) {.benefitBanner__item {flex: 0 0 70%;width: 70%;}}
.benefitBanner { display: grid; grid-template-columns: 1fr 1fr; gap: 20px;justify-items: center; }
@media (min-width: 768px) { .benefitBanner { grid-template-columns: 1fr 1fr 1fr 1fr; } }
.benefitBanner__item { display: flex !important; flex-direction: column !important; align-items: center !important; text-align: center !important; min-width: 0; }
.benefitBanner__picture { flex: 0 0 auto !important; width: auto !important; height: auto !important; margin: 0 0 15px 0 !important; padding: 0 !important; display: block !important; }
.benefitBanner__img { border-radius: 25px; padding: 25px !important; width: 35px !important; height: 35px !important; box-sizing: content-box !important; max-width: none !important; max-height: none !important; margin: 0 auto !important; transition: transform 0.3s ease; }
.benefitBanner__content { width: 100% !important; padding: 0 !important; text-align: center !important; }
.benefitBanner__title { color:var(--col1a); display: block; margin-bottom: 5px; font-size: 16px; font-weight: bold; text-transform: none; text-align: center !important; }
.benefitBanner__data { color:var(--col1b); display: block; width: 100%; font-size: 14px; margin-top: 0; text-align: center !important; }
.benefitBanner__item:nth-child(1) .benefitBanner__img { background: #ffcc3380;}
.benefitBanner__item:nth-child(2) .benefitBanner__img { background: #bae3f7;}
.benefitBanner__item:nth-child(3) .benefitBanner__img { background: #dcfce7;}
.benefitBanner__item:nth-child(4) .benefitBanner__img { background: #f5d6e6;}
.benefitBanner__item:hover .benefitBanner__img { transform: scale(1.1); }

/* CAT */
.product .p.p {box-shadow: 0 4px 20px -4px rgba(68, 58, 120, 0.1);}
.product .p { transition: all 0.3s ease !important; }
.product .p:hover { transform: translateY(-4px) !important; }
.products-block .p:hover .image > img { transform: none !important; }
.products-block.products .p .name,.price-final strong {font-weight:600;}
.category__secondDescription p, .category-perex p {color:var(--col1b);}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,.subcategories li a .text {color:var(--col1a);}
.breadcrumbs,.category-header div,.breadcrumbs a {color:var(--col1b);}
.category-header {border-top:1px solid #e2e0eb;}

/* FILTRY A RAZENI */
.category-header .listSorting__controls button.listSorting__control { border-radius: 50px !important; text-transform: none !important; background-color: transparent !important; border: 1px solid var(--col1a) !important; color: var(--col1a) !important; opacity: 0.6 !important; transition: all 0.3s ease !important; }
.category-header .listSorting__controls button.listSorting__control:hover { opacity: 1 !important; }
.category-header .listSorting__controls button.listSorting__control.listSorting__control--current { background-color: var(--col1a) !important; color: #fff !important; opacity: 1 !important; }
#content .filters-unveil-button-wrapper .btn.unveil-button { width: 150px !important; display: inline-flex !important; justify-content: center !important; background: transparent !important; border: 1px solid var(--col1a) !important; color: var(--col1a) !important; border-radius: 50px !important; text-transform: none !important; opacity: 0.6 !important; transition: all 0.3s ease !important; box-shadow: none !important; min-height: 40px !important; padding: 10px 30px 10px 10px !important;}
#content .filters-unveil-button-wrapper .btn.unveil-button:hover { opacity: 1 !important; }
.filters-visible #content .filters-unveil-button-wrapper .btn.unveil-button { background-color: var(--col1a) !important; color: #fff !important; opacity: 1 !important; border-color: var(--col1a) !important; }
#content .filters-unveil-button-wrapper .btn.unveil-button:before { color: inherit !important; right: 15px !important; }
.filters-wrapper .slider-wrapper, #filters { background-color: transparent !important; box-shadow: none !important; border: none !important; }

/* Štítky */
.flag {text-transform:none;}
@media (min-width: 768px) {.flag {margin-bottom: 5px;padding: 6px 12px;font-size: 12px;}}

/* BUTTONS */
.products-block .product-btn .pr-action { max-width: none !important; width: auto !important; margin: 0 30px !important; display: block !important; }
.products-block .product-btn .pr-action .btn { width: 100% !important; min-height: 40px !important; height: 40px !important; padding: 0 !important; }
.products-block .product-btn a.btn { max-width: none !important; width: calc(100% - 60px) !important; margin: 0 auto !important; min-height: 40px !important; height: 40px !important; padding: 0 !important; }
.btn.btn-conversion, a.btn.btn-conversion, .btn.btn-cart, a.btn.btn-cart, .btn.btn-primary, a.btn.btn-primary { color: #fff; border-color: var(--col2a); background-color: var(--col2a); }
.btn.btn-conversion:hover, a.btn.btn-conversion:hover, .btn.btn-cart:hover, a.btn.btn-cart:hover, .btn.btn-primary:hover, a.btn.btn-primary:hover { background-color: #d92680e6 !important; border-color: #d92680e6 !important; }

/* PRODUKT */
.image360 .mousetrap, .p-image .mousetrap, .image360 .cloud-zoom-big, .p-image .cloud-zoom-big, .image360 img, .p-image img {border-radius: 25px;border: 1px solid #e2e0eb;}
@media (min-width: 992px) {.type-detail .breadcrumbs {margin-bottom: 10px;}}
@media (min-width: 768px) {.type-detail .breadcrumbs {margin-bottom: 10px;}}
.p-info-headline .h1, .p-info-headline h1,.p-info-grid .detail-grid-title,.p-info-wrapper .p-final-price-wrapper .price-final,.quantity input,.detail-parameters th {color:var(--col1a);}
.p-short-description,.p-detail-info a,a.link-icon,.p-short-description p {color:var(--col1b);}
@media (min-width: 768px) {.social-buttons-wrapper {padding-top: 25px;}}
.social-buttons-wrapper {border-top: 1px solid #e2e0eb;}
.p-thumbnail.highlighted img, .show360image.highlighted img {border: 2px solid var(--col2a);}
.p-thumbnails a img {border-radius:20px;}

/* PRODUKT - BUTTON */
.p-info-wrapper .add-to-cart { display: flex !important; flex-wrap: nowrap; align-items: center; width: 100%; gap: 15px; margin-bottom: 25px; }
.p-info-wrapper .quantity { flex: 0 0 140px; width: 140px; height: 50px; background-color: transparent; border-radius: 50px; border: 1px solid var(--col1b) !important; display: flex; align-items: center; position: relative; overflow: hidden; margin: 0; }
.p-info-wrapper .quantity input.amount { background: transparent; border: 0; height: 50px; width: 100%; padding: 0 40px; text-align: center; font-weight: 700; color: var(--col1b); }
.p-info-wrapper .quantity .increase, .p-info-wrapper .quantity .decrease { height: 100%; width: 40px; background: transparent; border: 0; position: absolute; top: 0; display: flex; align-items: center; justify-content: center; cursor: pointer; z-index: 2; color: var(--col1b); }
.p-info-wrapper .quantity .decrease { left: 0; } .p-info-wrapper .quantity .increase { right: 0; }
.p-info-wrapper .btn.btn-conversion { flex: 1; width: auto; height: 50px; min-height: 50px; border-radius: 50px; margin: 0; padding: 0 10px; display: flex; justify-content: center; align-items: center; font-size: 14px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px; }

/* Homepage */
body.is-loaded h4.homepage-group-title, body.is-loaded .h4.homepage-group-title {color:var(--col1a);}
.welcome {background:#fff;}
.custom-cats__subtitle {display:none!important;}

/* SLIDER */
@media (min-width: 768px) {
body:not(.is-carousel-full-width).one-column-body .homepage-box .carousel {margin-top: 0px;}
body:not(.is-carousel-full-width) .carousel-inner, body:not(.is-carousel-full-width) .carousel .item img, body:not(.is-carousel-full-width).multiple-columns-body .carousel .item img {border-top-right-radius:0px;border-top-left-radius:0px;}
body:not(.is-carousel-full-width) .carousel .item, .multiple-columns-body .carousel .item {border-top-right-radius:0px!important;border-top-left-radius:0px!important;}}

/* FOOTER */
#footer {background-color: #292929;background-color: var(--col1c);margin-top: 50px;}
#footer h4 {color:#fff;text-transform:none;}
#footer ul a {color:#ffffffb3;}
@media (min-width: 768px) {#footer h4 {font-size: 17px;}}
.footer-bottom-bg:before {background:var(--col1c);}
.custom-footer {border-bottom:1px solid #ffffff1a;}
.footer-bottom {padding:20px 20px 40px 20px;}

